<div class="row">
    <div class="col-md-4">
        <form method="post" id="Login">
            <div class="form-group">
                <label class="control-label"> Username</label>
                <input type="text" id="user" name="user" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label"> Password</label>
                <input type="password" id="psw" name="pass" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<script>

    document.querySelector("#Login").addEventListener('submit', validarDatos);

    function validarDatos(evento) {

        evento.preventDefault();

        let user = document.querySelector("#user").value;
        let psw = document.querySelector("#psw").value;


        if (user != '' && psw != '') {
            this.submit();
        } else {
            const notyf = new Notyf();
            notyf.error({
                message: "Error: Ingrese Usuario o Password.",
                duration: 3500,
                position: {
                    x: 'right',
                    y: 'top',
                },
            })
        }

    }
</script>

@if (TempData["msg"] != null)
{
    <script type="text/javascript">
        const notyf = new Notyf();
        notyf.error({
        message: "@TempData["msg"]",
        duration: 3000,
        position: {
            x: 'right',
            y: 'top',
        },
    })
    </script>
}


<p>@ViewBag.msg</p>